html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-global {
    max-width: 300px;
    width: 100%;
    color: #fff;
    background-color: $red;
    border-radius: 40px;
    padding: 20px 10px;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.7s;
    text-align: center;
    &:hover {
        background-color: $blue;
    }
}

.title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.subtitle-text {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
}
