@import "vars";
@import "global";
@import "fonts";

.header {
    background-image: url(../images/bg-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    margin-bottom: 60px;
    .menu {
        // padding-top: 50px;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: $blue;
        width: 0;
        z-index: -1;
        border-radius: 20px;
        text-align: center;
        height: 0;
        overflow: hidden;
        padding-top: 0;

        transition: all 0.5s;
        li {
            border-bottom: 1px solid rgba(#000, 0.2);
        }
        li + li {
            margin-top: 0;
            border-top: 1px solid rgba(#000, 0.3);
        }
        li:last-child {
            border-bottom: none;
        }
        a {
            width: 100%;
            padding: 5px;
            color: $blue;
            transition: all 1s;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
    .menu.active {
        height: 320px;
        padding-top: 50px;
        width: 100%;
        a {
            color: #fff;
        }
    }
}

.header-top {
    background-color: rgba(#000, 0.3);
    height: 100px;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 3;
}

.header__item-logo {
    display: flex;
    align-items: center;

    span {
        color: #029cdb;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        padding-left: 15px;
    }
}

// .icon-map-marker:before {
//     content: "\f041";
//     position: absolute;
//     font-family: "icomoon" !important;
//     color: #fff;
//     left: 0;
//     right: 0;
//     font-size: 26px;
// }

.header__item {
    &-time {
        color: #fff;
        max-width: 170px;
        width: 100%;
        line-height: 24px;
        padding-left: 40px;
        position: relative;
        span {
            color: #029cdb;
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }
        &::before {
            content: "\f017";
            position: absolute;
            font-family: "icomoon";
            color: #fff;
            left: -5px;
            top: 50%;
            font-size: 35px;
            transform: translateY(-50%);
            display: inline-block;
        }
    }
    &-map {
        text-transform: uppercase;
        color: #fff;
        line-height: 24px;
        font-weight: 700;
        color: #029cdb;
        padding-left: 40px;
        position: relative;
        font-family: "Roboto", sans-serif !important;
        cursor: pointer;
        span {
            display: block;
            text-transform: capitalize;
            font-weight: 400;
            color: #fff;
        }
        &::before {
            position: absolute;
            color: #fff;
            left: 0;
            top: 50%;
            font-size: 35px;
            transform: translateY(-50%);
            font-family: "icomoon";
        }
    }
    &-box {
        background-color: $blue;
        height: 100px;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 350px;
        width: 100%;
        position: relative;
        right: 0;
        z-index: 10;
    }
    &-call {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        padding-left: 25px;
        span {
            display: block;
            font-weight: 400;
            border-bottom: 1px solid #fff;
        }
        &::before {
            content: "\f095";
            position: absolute;
            font-family: "icomoon";
            color: #fff;
            left: 20px;
            top: 50%;
            font-size: 35px;
            transform: translateY(-50%);
            display: inline-block;
        }
    }
}

.icon-map-marker:before {
    content: "\f041";
}

.header__item-map:hover {
    .icon-map-marker:before {
        background-color: $blue;
    }
}

.burger__menu-wrapper {
    width: 60px;
    height: 60px;
    border: 3px solid rgba(#fff, 0.5);
    border-radius: 50%;
    position: relative;
}

.burger__menu {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
        display: block;
        width: 40px;
        height: 5px;
        background-color: rgba(#fff, 0.9);
        border-radius: 3px;
    }
    span + span {
        margin-top: 5px;
    }
}

.header__bottom__wrapper {
    color: #fff;
    text-align: center;
}

.header__title {
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    max-width: 580px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 90px;
    margin-bottom: 8px;
}

.header__text {
    margin: 0;
    max-width: 500px;
    font-size: 24px;
    line-height: 26px;
    margin: 0 auto;
    padding-right: 20px;
    margin-bottom: 50px;
}

.best__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
    background-color: $bg-grey;
    padding: 20px;
    padding-top: 70px;
    margin-bottom: 60px;
    border-radius: 20px;
}

.best__item {
    max-width: 250px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    background-color: $bg-grey;
    &-title {
        color: $blue;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;
        &::before {
            position: absolute;
            top: -50px;
            left: 50%;
            font-size: 32px;
            transform: translateX(-50%);
            font-family: "icomoon";
        }
    }
}

.icon-thumbs-o-up:before {
    content: "\f087";
    transition: all 0.8s;
}

.icon-globe:before {
    content: "\f0ac";
}

.icon-group:before {
    content: "\f0c0";
}

.best__item:hover {
    .icon-thumbs-o-up:before {
        color: green;
    }
}

.service {
    margin-bottom: 60px;
    position: relative;
}

.service-bg {
    position: absolute;
    width: 100%;
    top: 350px;
    height: 950px;
    background-color: #e5f5fc;
    z-index: -1;
    &:before {
        content: "";
        display: block;
        position: relative;
        left: 0;
        right: 0;
        top: -71px;
        height: 124px;
        width: 100%;
        z-index: 1;
        transform: skewY(-3deg);
        background-color: #e5f5fc;
        transform-origin: 100%;
    }
}

.service__inner {
    display: flex;
    align-items: center;
    margin-left: -20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.service__item {
    margin-left: 20px;
    background-color: $bg-grey;
    flex-basis: calc(50% - 20px);
    border-radius: 20px;
    padding: 15px;
    height: 245px;
    margin-bottom: 20px;
    background-position-x: 0;
    background-position-y: -80px;
    background-size: 370px;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 11px grey;
    &-title {
        text-align: right;
        font-size: 38px;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 35px;
        padding-right: 15px;
        max-width: 200px;
        margin-left: auto;
        line-height: 42px;
        height: 80px;
    }
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-from {
        text-transform: uppercase;
        padding-left: 25px;
        span {
            text-transform: initial;
            padding-left: 40px;
        }
    }
    &-srok {
        text-transform: uppercase;
        padding-left: 25px;
        span {
            text-transform: initial;
            padding-left: 15px;
        }
    }
    &-btn {
        max-width: 170px;
        width: 100%;
        text-align: center;
        padding: 10px;
        border: 2px solid rgba(#000, 0.3);
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(#000, 0.3);
        transition: all 0.3s;
        &:hover {
            background-color: $blue;
            color: #fff;
            border: 2px solid $blue;
        }
    }
}

.service__item--carpet {
    background-position-x: -76px;
    background-position-y: -5px;
    background-size: 480px;
}

.service__item--chair {
    background-position-x: 25px;
    background-position-y: -6px;
    background-size: 226px;
}

.service__item--matrass {
    background-position-x: -6px;
    background-position-y: -6px;
    background-size: 346px;
}

.service__btn {
    margin: 0 auto;
    display: block;
}

.work {
    margin-bottom: 60px;
}

.work__status {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    color: $blue;
}

.twentytwenty-container {
    height: 550px !important;
}

.twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0);
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .slick-active {
        button {
            background-color: $blue;
            color: $blue;
        }
    }
    li {
        button {
            border-radius: 50%;
            border: 1px solid $blue;
            font-size: 1px;
            color: #fff;
            width: 25px;
            height: 25px;
            outline: none;
        }
    }
    li + li {
        margin-left: 15px;
    }
}
.video {
    margin-bottom: 120px;
}

.video__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-bottom: 40px;
}

.video__item {
    margin-left: 15px;
    flex-basis: calc(33.33% - 15px);
    height: 250px;
    &-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: rgba($blue, 0.7);
    }
}

.contact {
    background-image: url(../images/bg-form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    margin-bottom: 60px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background-color: rgba(#000, 0.5);
        background-blend-mode: hard-light;
    }
    .title {
        position: relative;
        padding-top: 70px;
        color: #fff;
        z-index: 15;
    }
}

.contact__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__item {
    max-width: 500px;
    width: 100%;
    margin-right: 40px;
    &-text {
        font-size: 18px;
        color: #fff;
        max-width: 370px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}

.form__call {
    margin-bottom: 50px;
}

.form__call-row {
    display: flex;
    justify-content: space-between;
    input {
        background-color: transparent;
        border: none;
        width: 220px;
        border-bottom: 2px solid #fff;
        padding-bottom: 5px;
        padding-left: 10px;
        color: #fff;
        margin-bottom: 20px;
        padding-top: 5px;
        outline: none;
        &::placeholder {
            color: #fff;
        }
    }
}

.form__call-mail {
    border-bottom: 2px solid rgba(#fff, 0.2) !important;
    margin-bottom: 0 !important;
}

.form__call-btn {
    padding: 0;
    width: 220px;
    bottom: none;
    font-size: 14px;
    border: none;
}

.contact__item-private,
.contact__item-prim {
    font-size: 14px;
    color: #fff;
    padding: 10px;
}

.contact__item--contact {
    max-width: 450px;
    width: 100%;
    background-color: rgba(#fff, 0.7);
    border-radius: 30px;
    padding: 20px;
    margin-top: -20px;
}

.list-mail {
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    li {
        display: inline-block;
        a {
            font-size: 50px;
        }
    }
    li + li {
        margin-left: 15px;
    }
}

.icon-vk {
    padding-bottom: 5px;
    color: blue;
}

.icon-whatsapp {
    color: #00b147;
}

.icon-telegram {
    color: #00b9e8;
    font-size: 47px !important;
}

.how {
    margin-bottom: 60px;
}

.how__list {
    li + li {
        padding-top: 50px;
        border-top: 2px solid rgba($blue, 0.2);
    }
}

.how__list-title {
    color: $blue;
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.how__list-text {
    max-width: 800px;
}

.how__list-item {
    position: relative;
    padding-left: 60px;
    padding-bottom: 30px;

    &:before {
        top: 49px;
        left: -34px;
        position: absolute;
        font-size: 30px;
        padding: 22px 24px;
        color: #fff;
        background-color: $blue;
        border-radius: 50%;
    }
}

.how__list-item-1 {
    &:before {
        content: "1";
        top: 0;
    }
}

.how__list-item-2 {
    &:before {
        content: "2";
    }
}

.how__list-item-3 {
    &:before {
        content: "3";
    }
}

.how__list-item-4 {
    &:before {
        content: "4";
    }
}

.how__list-item-5 {
    &:before {
        content: "5";
        left: -30px;
    }
}

.sale {
    margin-bottom: 60px;
}

.sale__card-wrapper {
    padding-left: 90px;
    position: relative;
}

.sale__title {
    position: absolute;
    top: 197px;
    left: -135px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
    color: $blue;
    transform: rotate(-90deg);
}

.sale__card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -20px;
}

.sale__item {
    box-shadow: 0px 3px 11px grey;
    border-radius: 35px;
    min-height: 190px;
    padding: 45px;
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url(../images/bg-sale-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sale__item:nth-child(odd) {
    background-image: url(../images/bg-sale.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .sale__item-title {
        color: #fff;
    }
    .sale__item-text {
        color: #fff;
    }
}

.sale__item-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
    color: $blue;
}

.instr__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
}

.instr {
    position: relative;
}
.instr__bg {
    position: absolute;
    width: 100%;
    top: 350px;
    height: 950px;
    background-color: #e5f5fc;
    z-index: -1;
    &:before {
        content: "";
        display: block;
        position: relative;
        left: 0;
        right: 0;
        top: -71px;
        height: 124px;
        width: 100%;
        z-index: 1;
        transform: skewY(-3deg);
        background-color: #e5f5fc;
        transform-origin: 100%;
    }
}

.instr__item {
    max-width: 270px;
    width: 100%;
    box-shadow: 0px 3px 11px grey;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;

    &-title {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 22px;
    }
    &-text {
        height: 100px;
    }
}

.instr__item-img {
    margin-bottom: 30px;
    img {
        width: 200px;
    }
}

.faq {
    margin-bottom: 200px;
}

.wrapper-tabs {
    display: flex;
    margin-bottom: 80px;
    height: 350px;
    background-image: url(../images/sofa.png);
    background-position-x: 250px;
    background-position-y: -190px;
    background-repeat: no-repeat;
    background-size: 700px;
}

.tabs {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
    padding: 15px;
    margin-right: 90px;
    border-right: 2px solid rgba($blue, 0.4);
    span {
        cursor: pointer;
    }
    span + span {
        margin-top: 10px;
    }
}

.tab.active {
    color: $blue;
}

.tab-item {
    padding: 30px;
    min-height: 250px;
    border-radius: 30px;
    background-color: rgba(#dfdfdf, 0.8);
    width: 500px;
    display: none;
    h3 {
        text-transform: uppercase;
    }
}

.tab-item.active-tab {
    display: block;
}

.help-form {
    position: relative;
    margin-bottom: 60px;
    .contact__inner {
        background-color: $bg-grey;
        padding: 35px;
        border-radius: 30px;
    }

    .contact__item-text {
        background-color: $blue;
        max-width: 500px;
        width: 100%;
        padding: 10px;
        padding-right: 50px;
        padding-left: 50px;
        border-radius: 50px;
    }
    input {
        border-bottom: 2px solid #000;
        color: #000;
        &::placeholder {
            color: #000;
        }
    }
    .form__call-mail {
        border-bottom: 2px solid #000 !important;
    }

    .contact__item-private {
        color: #000;
    }
    .contact__item-prim {
        color: #000;
    }
    .contact__item--contact {
        background-color: transparent;
    }
}

.footer {
    background-color: #002c3f;
    min-height: 200px;
    .list-mail {
        justify-content: space-around;
    }
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__list {
    li + li {
        margin-top: 10px;
    }
    a {
        color: #fff;
        &:hover {
            color: $blue;
        }
    }
}

.footer__item-call {
    display: block;
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    &:before {
        content: "\f095";
        position: absolute;
        font-family: "icomoon";
        left: 20px;
        top: 0;
        font-size: 28px;
    }
}

.footer__btn {
    padding: 10px;
    margin-bottom: 40px;
}

.footer__item-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
